<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Todo{% endblock title %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="text-center bg-blue-400 text-white" type="submit">Log out </button>
            </form>   
        </div>   
        
    {% else %}
        
    {% endif %}
    
    {% block content %}
    {% endblock content %}
    
    <!--Messages-->
    {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}
 
</body>
</html>